/*.js-buttons {
    display: inline-block;
    vetical-align: middle;
    position: relative;
    top: -18px;
}
*/
.js-button > div {
  display: inline-block;
  border-left: 1px solid #fff;
  padding-left:5px;
  margin-left: 0px;

}
.jumbo-share-count {
    display: inline-block;
    margin-right: 40px;
    text-align: center;
    position: relative;
    padding: 0;

}

.jumbo-share-count em {
    color: #7fc04c;
    font-size: 70px;
    font-family: "Helvetica", Helvetica, Arial, sans-serif !important;
    line-height: 80px;
    font-weight: bold;
    font-style: normal;
}

.jumbo-share-count .caption {
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin-top: -13px;
    color: #8a8c8e;
    text-transform: uppercase;
    display: block;
}

.jumbo-share-count:after {
    position: absolute;
    top: 15px;
    right: -36px;
    display: inline-block;
    content: "";
    background: url(http://rack.0.mshcdn.com/assets/splitter-673d2cab0a5d00ede21d1ed5c9edaf48.png) transparent center center no-repeat;
    width: 30px;
    height: 64px;
    margin: 0;
}

.js-buttons {
    display: inline-block;
    vetical-align: middle;
    position: relative;
    top: -18px;
    margin: 0;
    padding: 0;
}

.js-button {
    color: #fff !important;
    display: inline-block;
    font-family: "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    width: 170px;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    text-decoration: none !important;
    border:0px solid !important;
}

.js-button i {
    color: #fff;
    padding: 8px 0;
    margin: 0px 0px !important;
    padding-right: 0px;
    width: 30px;
    text-align: center;
}

.js-small {
    font-size:16px;
    width: 40px;
    padding: 0px;
    margin-top: 0px;
    background-color: #aaa;
}

.js-small i {
    margin: 4px !important;
    /*padding-left:5px;*/
    border-right: 0px solid #fff;
    text-align: center;
}

.js-buttons .facebook {
    background-color: #305c99
}

.js-buttons .twitter {
    background-color: #00cdff;
}

.js-buttons .google {
    background-color: #EB4026;
}

.js-buttons .stumbleupon {
    background-color: #FF4E2E;
}
.js-buttons .linkedin {
    background-color: #007bb6
}
.js-buttons .reddit {
    background-color: #FF4500;
}

@media (max-width: 930px) {
    .extended-text {
        display: none;
    }
    .js-button {
        width:90px;
    }
    .js-small {
        width: 40px;
    }
}

@media (max-width: 560px) {
    .extended-text {
        display: none;
    }
    .js-button {
        width:40px;
    }
    .js-small {
        width: 40px;
    }
    .js-button > div{
        display: none;
    }
}